.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;

  --inverted-primary-color: #022797;
  --inverted-secondary-color: #5188ff;
}