.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.navbar__links {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}